html, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

.to-right {
    float: right;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3E4B66;
}

main {
    margin: 0;
    padding: 0;
}

.site-header {
    height: 50px;
    padding-right: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272F3F;
}

.site-header .btn, .site-footer .btn {
    color: white;
}

.site-footer {
    background-color: #272F3F;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom:0;
}

.box {
    height: 800px;
    background-size: cover;
    background-image: url('../img/header-img.svg');
    background-position: bottom center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 300;
    text-align: center;
    color: white;
}

.box h1 {
    font-size: 900%;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.box h2 {
    font-size: 250%;
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.tint {
    background-color: rgba(29,29,29,.75);
    background-blend-mode: multiply;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.article-content {
    padding: 5px;
    display: inline-block;
    width: 100%;
    background-color: white;
    border-radius: 5px  ;
}

.clickable-article:hover {
    background-color: #e6e6e6;
}

.btn-dark-button {
    color: #fff;
    background-color: #272F3F;
    border-color: #272f40;
}
.btn-dark-button:hover, .btn-dark-button:focus, .btn-dark-button:active,
 .btn-dark-button.active, .open>.dropdown-toggle.btn-dark-button {
    color: #fff;
    background-color: #13171f;
    border-color: #272f40;
}
.btn-dark-button-outline {
    color: #fff;
    border: solid 1px;
    border-color: #272f40;
}
.btn-dark-button-outline:hover, .btn-dark-button-outline:focus, .btn-dark-button-outline:active,
 .btn-dark-button-outline.active, .open>.dropdown-toggle.btn-dark-button-outline {
    color: #fff;
    border: solid 1px;
    background-color: #13171f;
    border-color: #272f40;
}

.password {
	margin: 15px auto;
	position: relative;
}
#password-input {
	width: 100%;
	padding: 5px 0;
	height: 30px;
	line-height: 40px;
	text-indent: 10px;
	margin: 0 0 15px 0;
	border-radius: 5px;
	border: 1px solid #999;
	font-size: 18px;
}
.password-control {
	position: absolute;
	vertical-align: center;
	top: 20px;
	right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}