html, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #3E4B66;
    font-color: white;
}

.site-header {
    height: 50px;
    padding-right: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.box {
    height: 800px;
    background-size: cover;
    background-image: url('../img/header-img.svg');
    background-position: bottom center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 300;
    text-align: center;
}
.box h1 {
    font-size: 900%;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.box h2 {
    font-size: 250%;
    text-align: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.tint {
    background-color: rgba(29,29,29,.75);
    background-blend-mode: multiply;
}

.to-right {
    float: right;
}