{% extends 'index.html' %}
{% block content %}
    <br>
    <a class="btn btn-dark-button" href="/test_page">Создать статью</a>
    <br>
    {% for article in articles %}
       <br>
        {% set article_url = '/article/%s'%article.slug|urlencode %}
        <div class="article-content clickable-article" onclick="location.href='{{ article_url }}'">
            <h3>{{ article.title }}</h3>
            <p>{{ article.small_desc }}</p>
            <a class="btn btn-dark-button" href="{{ '/edit_article/%s'%article.slug|urlencode }}">Редактировать</a>
            <a class="btn btn-dark-button" href="{{ '/post_article/%s'%article.slug|urlencode }}">Выложить</a>
        </div>
        <br>
    {% endfor %}
{% endblock %}