{% extends "index.html" %}
{% block headscripts %}

{% endblock %}

{% block headcss %}
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css'
          rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
    <br>
    <div class="editor">
        <form>
            <input class="form-control" type="text" name="title" placeholder="Название статьи">
            <br>
            <textarea id="edit" name="content"></textarea>
            <button class="submit">Submit</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/plugins/file.min.js"></script>
    <script>
        new FroalaEditor('#edit', {
            placeholderText: 'Напишите что-нибудь...',
            // Set the image upload parameter.
            imageUploadParam: 'image_param',

            // Set the image upload URL.
            imageUploadURL: '/upload_image',

            // Additional upload params.
            imageUploadParams: {id: 'edit'},

            htmlRemoveTags: ['script', 'style', 'base']
        })
    </script>
{% endblock %}