<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/main.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="box tint">
            <h1>Historia</h1>
            <h2>История может быть интересной, нужно лишь искать</h2>
        </div>
        <div class="site-header">
            <a class="btn" href="/">Главная</a>
            {% if current_user.is_authenticated %}
                <a class="navbar-brand to-right" href="/logout">{{ current_user.name }}</a>
            {% else %}
                <p class="to-right">
                    <a class="btn" href="/register">Зарегистрироваться</a>
                    <a class="btn" href="/login">Войти</a>
                </p>
            {% endif %}
        </div>
    </header>
  <main role="main" class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>