{% extends "index.html" %}

{% block box %}
    <div class="box tint">
        <h1>Historia</h1>
        <h2>История может быть интересной, нужно лишь искать</h2>
    </div>
{% endblock %}

{% block content %}
    {% for article in articles %}
       <br>
        {% set article_url = '/article/%s'%article.slug|urlencode %}
        <div class="article-content clickable-article" onclick="location.href='{{ article_url }}'">
            <h3>{{ article.title }}</h3>
            <p>{{ article.small_desc }}</p>
        </div>
    {% endfor %}
    <br>
    <style>
        .site-footer{
            position: relative;
        }
    </style>
{% endblock %}