{% extends "index.html" %}

{% block content %}
<div id="registerModal">
    <form action="" method="post">
      {{ reg_form.hidden_tag() }}
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingEmail" name="email"
               placeholder="name@example.com" autocomplete="email"><br>
        <label for="floatingEmail">{{ reg_form.email.label }}</label>
        {% for error in reg_form.email.errors %}
          <p class="alert alert-danger" role="alert">
            {{ error }}
          </p>
        {% endfor %}
      </div>
      <div class="form-floating password">
        <input type="password" class="form-control" id="floatingPassword" name="password"
               placeholder="Password" autocomplete="new-password"><br>
        <a href="#" class="password-control"></a>
        <label for="floatingPassword">{{ reg_form.password.label }}</label>
        {% for error in reg_form.password.errors %}
          <p class="alert alert-danger" role="alert">
            {{ error }}
          </p>
        {% endfor %}
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPasswordAgain"
               name="password_again" placeholder="Password" autocomplete="on"><br>
        <label for="floatingPasswordAgain">{{ reg_form.password_again.label }}</label>
        {% for error in reg_form.password_again.errors %}
          <p class="alert alert-danger" role="alert">
            {{ error }}
          </p>
        {% endfor %}
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingName"
               name="name" placeholder="Name" autocomplete="username"><br>
        <label for="floatingName">{{ reg_form.name.label }}</label>
        {% for error in reg_form.name.errors %}
          <p class="alert alert-danger" role="alert">
            {{ error }}
          </p>
        {% endfor %}
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingAbout"
               name="about" placeholder="Name"><br>
        <label for="floatingAbout">{{ reg_form.about.label }}</label>
        {% for error in reg_form.about.errors %}
          <p class="alert alert-danger" role="alert">
            {{ error }}
          </p>
        {% endfor %}
      </div>
      <btn class="btn btn-dark-button" type="submit">Зарегистрироваться</btn>
      {{register_message}}
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
      $(window).on('load', function() {
          $('#regLogButtons').hide();
      });
</script>
<script>
    $('body').on('click', '.password-control', function(){
      if ($('#floatingPassword').attr('type') == 'password'){
          $(this).addClass('view');
          $('#floatingPassword').attr('type', 'text');
      } else {
          $(this).removeClass('view');
          $('#floatingPassword').attr('type', 'password');
      }
      return false;
  });
</script>
{% endblock %}